* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */

.btn {
    padding: 12px 16px;
    width: 164px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 600;
}


/* main style  */

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #FFFFFF;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    
}

header .navbar-section {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    align-items: center;
    
}

.navbar-section .logo {
    width: 139px;
}

.navbar-section .menu-items {
    display: flex;
    gap: 32px;
    list-style-type: none;
    
}

.navbar-section .menu-items a {
    text-decoration: none;
    color: #000000;
}

