* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */

.btn {
    padding: 12px 16px;
    width: 164px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 600;
}


/* main style  */

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #FFFFFF;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    
}

header .navbar-section {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    align-items: center;
    
}

.navbar-section .logo {
    width: 139px;
}

.navbar-section .menu-items {
    display: flex;
    gap: 32px;
    list-style-type: none;
    
}

.navbar-section .menu-items a {
    text-decoration: none;
    color: #000000;
}

#banner-section {
    height: 516px;
    background: url(./assets/hero-bg.png);
    background-size: cover;
}

#banner-section .banner-container {
    width: 85%;
    max-width: 1360px;
    margin: auto;
    text-align: center;
    padding: 90px 200px 0;
}


.banner-container .banner-content .p {
    background-color: #FFFFFF;
    color:#469165;
    width: 239px;
    height: 35px;
    border-radius: 20px;
    padding: 8px 12px;
    margin: auto;
    margin-bottom: 16px;
    
}

.banner-container .banner-content h1 {
    font-size: 72px;
    margin-bottom: 16px;
}

.banner-container .banner-content span {
    color: #469165;
}

.banner-container .banner-content .text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
}


.banner-container .banner-content .btn2 {
    width: 200px;
}

.banner-container .banner-content .btn3 {
    background-color:transparent;
    border: 1px solid #FFFFFF;
}